<!-- ######################################### -->
<!DOCTYPE html>
<html lang="en">
<style>
    * {
            box-sizing: border-box;
        }
        
        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
        
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }
        
        input[type=submit]:hover {
            background-color: #45a049;
        }
        
        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
        
        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }
        
        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
        
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }

        .team {
            width: 150px;
            margin: 5px;
        }
        
        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .col-25, .col-75, input[type=submit] {
                width: 100%;
                margin-top: 0;
            }
        }
        </style>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SPORTA - Sports Positioning on Real Time Analytics
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename = 'metisMenu.min.css') }}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{{ url_for('static', filename = 'dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ url_for('static', filename = 'dataTables.responsive.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <!-- <link href="{{ url_for('static', filename = 'font-awesome.min.css') }}" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SPORTA</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">

                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="fa fa-bar-chart-o fa-fw"></i> Home</span></a>
                        </li>
                        <li>
                            <a href="/create-match"><i class="fa fa-edit fa-fw"></i> Create Match</a>
                        </li>
                        <li>
                            <a href="/students"><i class="fa fa-edit fa-fw"></i> Students</a>
                        </li>
                        <li>
                            <a href="/teams"><i class="fa fa-edit fa-fw"></i> Teams</a>
                        </li>
                        <li>
                            <a href="/tag"><i class="fa fa-edit fa-fw"></i> Tag</a>
                        </li>
                        <!-- /.nav-second-level -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper" style="min-height: 908px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Create Match</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Match Detail
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form action="/createMatch" method="POST" >
                                    Match Name:<br>
                                    <input type="text" value=" " name="matchname" style="
                                    width: 155px;">
                                    <br><br>
                                    Match Date:<br>
                                    <input type="date"  value="date" name="matchdate" >
                                    
                                    <br><br>
                                    Match Detail:<br>
                                    <input type="text" style="height:100px;" name="matchnotes"> 
                                    <br>
                                    <br>
                                    Team 1:<br><br>
                                    Player 1: 
                                    <select class = "team" name = "team1" id = "team1">
                                        <option value = "">Choose Team</option>
                                        {% for teamslist in teamListResult %}
                                            <option value="{{teamslist[0]}}">{{teamslist[0]}}</option>
                                        {% endfor %}
                                    </select>
                                    <select class = "team" name = "play1">
                                        <option value = "">Choose Player</option>
                                        {% for playlist in playerNames %}
                                            <option value = "{{playlist[1]}}">{{playlist[1]}}</option>
                                        {% endfor %}
                                    </select>
                                    <select class = "team" name = "tagNum1">
                                        <option value = "">Choose Tag</option>
                                        <option value = 1>1</option>
                                    </select><br><br>
                                    Player 2: <select class = "team" name = "team2"><option value = 1>1</option><option value = 2>2</option></select><select class = "team" name = "play2"><option value = 1>1</option></select><select class = "team" name = "tagNum2"><option value = 1>1</option></select><br><br>
                                    Player 3: <select class = "team" name = "team3"><option value = 1>1</option><option value = 2>2</option></select><select class = "team" name = "play3"><option value = 1>1</option></select><select class = "team" name = "tagNum3"><option value = 1>1</option></select><br><br>
                                    Player 4: <select class = "team" name = "team4"><option value = 1>1</option><option value = 2>2</option></select><select class = "team" name = "play4"><option value = 1>1</option></select><select class = "team" name = "tagNum4"><option value = 1>1</option></select><br><br>
                                    Player 5: <select class = "team" name = "team5"><option value = 1>1</option><option value = 2>2</option></select><select class = "team" name = "play5"><option value = 1>1</option></select><select class = "team" name = "tagNum5"><option value = 1>1</option></select><br><br>
                                    Team 2:<br><br>
                                    Player 6: <select class = "team" name = "team6"><option value = 1>1</option><option value = 2>2</option></select><select class = "team" name = "play6"><option value = 1>1</option></select><select class = "team" name = "tagNum6"><option value = 1>1</option></select><br><br>
                                    Player 7: <select class = "team" name = "team7"><option value = 1>1</option><option value = 2>2</option></select><select class = "team" name = "play7"><option value = 1>1</option></select><select class = "team" name = "tagNum7"><option value = 1>1</option></select><br><br>
                                    Player 8: <select class = "team" name = "team8"><option value = 1>1</option><option value = 2>2</option></select><select class = "team" name = "play8"><option value = 1>1</option></select><select class = "team" name = "tagNum8"><option value = 1>1</option></select><br><br>
                                    Player 9: <select class = "team" name = "team9"><option value = 1>1</option><option value = 2>2</option></select><select class = "team" name = "play9"><option value = 1>1</option></select><select class = "team" name = "tagNum9"><option value = 1>1</option></select><br><br>
                                    Player 10: <select class = "team" name = "team10"><option value = 1>1</option><option value = 2>2</option></select><select class = "team" name = "play10"><option value = 1>1</option></select><select class = "team" name = "tagNum10"><option value = 1>1</option></select><br><br>
                                    <input type="submit" value="Create Match" class="btn btn-primary btn-large btn-block" style="width: 171px;" >
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename = 'jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename = 'metisMenu.min.js') }}"></script>

    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename = 'jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'dataTables.responsive.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename = 'sb-admin-2.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });

            $('#team1').change(function() {
                var teamName = $('#team1').val();
                console.log("before ajax, teamName: "+ teamName);
                $.ajax({
                    type: 'GET',
                    url: "/create-match/"+teamName,
                    data: { teamId: teamName},
                    contentType: 'application/json',
                    dataType: 'json',
                    success: function(response) {
                        console.log("reply: "+response[0])

                        //we need to push this list to the 
                    }
                });
            });
        });

        // let loadList = function () {
        //     let teamName = document.getElementById('team1').value;
        //     console.log(teamName);
        // }
    </script>

</body>

</html>