<!DOCTYPE html>
<html>
    <style>
        .button {
              background-color:#3498DB;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
              
          }
    </style>
<link rel="stylesheet" href="/static/style.css" type="text/css">
<body>

<div class="login">
<div class="login-screen">
        <div class="app-title">
				<h2>Create Match</h2>
			</div>
<form action="/createMatch" method="POST">
  Match Name:<br>
  <input type="text" value=" " name="matchname">
  <br>
  Match Date:<br>
  <input type="date"  value="date" name="matchdate">
  
 
  
  <br><br>
  Match Detail:<br>
  <input type="text" style="height:100px;" name="matchnotes"> 
  <br>
  <br>
 
<input type="submit" value="Create Match" class="btn btn-primary btn-large btn-block" >
</form>
</div>
</div>


</body>
</html>
