<link rel="stylesheet" href="/static/style.css" type="text/css">

<style>
	.button {
		background-color: #3498DB;
		border: none;
		color: white;
		padding: 15px 32px;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
	}
</style>

<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h1>Welcome</h1>
			</div>

			<div class="login-form">
					<p>This is the home page, Hello {{username}}!</p> 
					<a href="/pending" class="button" style="width: 174px; height:100px">Pending Match</a> 
					<a href="/recorded" class="button" style="width: 174px; height:100px">Recorded Match </a> 
					<a href="/expired" class="button" style="width: 174px; height:100px" >Expired Match</a> 
					<a href="/create" class="button" style="width: 174px;">Create Match</a> 
					<!-- <a href="/start" class="button" style="width: 174px;" >Start Recording</a> <br> 
					<a href='/stop'class="button" style="width: 174px;">Stop Recording</a> <br> -->
					<a href="/tabledisplay" class="button" style="width: 174px;">Table</a>
					<a href="/match" class="button" style="width: 174px;">Dashboard</a>
					<a href="/logout" class="button" style="width: 174px;">Logout</a> 
					<br>
					<br>
					<table id="match">

					</table>
					 
				
					
 
				</div>
			</div>
		</div>
	</form>
 
