<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script type="text/javascript" src="/static/points/overlay.js"></script>
    <script>
        var pointsDS = {{ data1.coords | tojson }};
        var tagDS = {{ data1.tagDetails | tojson }};

        var overlayJSON = JSON.parse(decodeHTML("{{overlays}}"));
        var overlays = [];

        // console.log("pointsDS:")
        // console.log(pointsDS)
    </script>
    <title>SPORTA - Sports Positioning on Real Time Analytics
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename = 'metisMenu.min.css') }}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{{ url_for('static', filename = 'dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ url_for('static', filename = 'dataTables.responsive.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/static/points/ss.js"></script>
    <script type="text/javascript" src="/static/points/Scipy.js"></script>
    <script type="text/javascript" src="/static/points/p5.min.js"></script>
    <script type="text/javascript" src="/static/points/sketchNew.js"></script>
    <script type="text/javascript" src="/static/points/particle.js"></script>
    <script type="text/javascript" src="/static/points/video.js"></script>
    <script type="text/javascript" src="/static/points/canvasjs.min.js"></script>
    <!-- <script type="text/javascript" src="/static/d3.js"></script>
    <script type="text/javascript" src="/static/d3-legend.min.js"></script>
    <script type="text/javascript" src="/static/d3-contour.min.js"></script>
    <script type="text/javascript" src="/static/d3-scale-chromatic.min.js"></script> -->
    <script src='https://d3js.org/d3.v4.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3-legend/2.24.0/d3-legend.min.js'></script>
    <script src="https://d3js.org/d3-contour.v1.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>

    <script type="text/javascript" src="/static/bbCourtHeat/Court.js"></script>
    <script type="text/javascript" src="/static/bbCourtHeat/HeatMap.js"></script>
    <script type="text/javascript" src="/static/bbCourtHeat/Slider.js"></script>
    <script type="text/javascript" src="/static/bbCourtHeat/Table.js"></script>
    <script type="text/javascript" src="/static/bbCourtHeat/Shot.js"></script>

    <style>
        #video-container {
	        width: 100%;
	        position: relative;
        }

        video {
            width: 100%;
        }

        #video-controls {
	        bottom: 0;
	        left: 0;
	        right: 0;
	        padding: 5px;
            height: 40px;
            position: fixed;
	        background-image: linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	        background-image: -o-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	        background-image: -moz-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	        background-image: -webkit-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);
	        background-image: -ms-linear-gradient(bottom, rgb(3,113,168) 13%, rgb(0,136,204) 100%);

	        background-image: -webkit-gradient(
		        linear,
		        left bottom,
		        left top,
		        color-stop(0.13, rgb(3,113,168)),
		        color-stop(1, rgb(0,136,204))
	        );
        }

        button {
	        background: rgba(0,0,0,.5);
	        border: 0;
	        color: #EEE;
	        -webkit-border-radius: 3px;
	        -moz-border-radius: 3px;
	        -o-border-radius: 3px;
	        border-radius: 3px;
        }

        button:hover {
	        cursor: pointer;
        }

        #full-screen {
            float: right;
        }

        #court {
            /* position: fixed; */
            left: 0px;
            right: 0px;
            top: 50px;
            bottom: 0px;
        }

        .slider rect {
            fill: gray;
            shape-rendering: crispEdges;
        }

        .slider line {
            fill: none;
            stroke: red;
            opacity: 0.3;
            shape-rendering: crispEdges;
        }
        </style>
</head>

<body>

    <div id="wrapper">
        <div>

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#visualization" aria-controls="visualization" role="tab"
                        data-toggle="tab">Visualization</a></li>
                <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">Statistics</a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active" id="visualization">
                    <div id="video-container">
                        <!-- Video -->
                        <div style="float: left; width: 50%">
                            <video id="video">
                                <source id="mp4_src" src="{{ url_for('static', filename = data1.video) }}" type="video/webm">
                            </video>
                        </div>
                        <!-- Video Controls -->

                        <source id="results" src="results">
                        <div id="sketch-holder" style="float: right; width: 50%;">
                        </div>
                        <div id="overlay-table" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
                            style="float: right; width: 50%;">
                            <table style="width: 100%; height: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="5" aria-sort="ascending" style="width: 100%;">Overlay</th>
                                    </tr>
                                </thead>
                                <tbody id="overlayList">
                                </tbody>
                            </table>
                        </div>
                        <div id="video-controls">
                            <table style="width: 100%; height: 100%;">
                                <tr>
                                    <td style="width: 50px;"><button type="button" id="play-pause"><i class="fa fa-play fa-fw"></i></button></td>
                                    <td><input type="range" id="seek-bar" value="0"></td>
                                    <td style="text-align: center; width: 55px;"><button type="button" id="mute"><i
                                                class="fa fa-volume-up fa-fw"></i></button></td>
                                    <td style="width: 145px;"><input type="range" id="volume-bar" min="0" max="1" step="0.1"
                                            value="1"></td>
                                    <td style="text-align: end; width: 90px;"><button type="button" id="full-screen">Full-Screen</button></td>
                                </tr>
                            </table>


                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="statistics">
                    <h1>Statistics</h1>
                    ***BEGIN DEBUG***
                    <table id="distance">
                    </table>
                    <div id="seconds"></div>
                    ***END DEBUG***
                    <select id="selectPlayer" class="form-control" onchange="selectedPlayer()" style="position: relative; left: 50%; width: 50%;">
                    </select>
                    <div id="distanceGraph" style="width: 50%;"></div>
                    <div id="particleTimeGraph" style="width: 50%; float: right;"></div>
                    <div id="court" style="position: relative"></div>
                </div>
            </div>

        </div>

    </div>
    <script>
        const margin = { left: 20, right: 20, top: 20, bottom: 20 };
        var chartDiv = document.getElementById('court');
        var court = d3.select(chartDiv).append('court').append('svg');
        court.attr('width', 480)
            .attr('height', 480 / 50 * 47 * 2)

        court.append('table');

        var heat_g = court.append('g')
        var court_g = court.append('g');
        var title = d3.select(document.getElementById('caption')).append('text');
        // var data_g = d3.select(chartDiv).append('shot').append('svg')

        var slider_axis = court.append('g')
            .attr('class', 'slider-axis');
        var slider_rect = court.append('g')
            .attr('class', 'slider-rect');

        var rect_entity = slider_rect.append('rect');

        const court_xScale = d3.scaleLinear()
            .domain([-25, 25]);
        const court_yScale = d3.scaleLinear()
            .domain([-4, 43]);
        const shot_xScale = d3.scaleLinear()
                                     .domain([0, 7770]);
        const shot_yScale = d3.scaleLinear()
                                     .domain([0, 5440]);

        var color = d3.scaleSequential(d3.interpolateOrRd)
            .domain([5e-6, 3e-2]); // Points per square pixel.



        var Basket = court_g.append('circle');
        var Backboard = court_g.append('rect');        
        var Outterbox = court_g.append('rect');        
        var Innerbox = court_g.append('rect');        
        var CornerThreeLeft = court_g.append('rect');        
        var CornerThreeRight = court_g.append('rect');        
        var OuterLine = court_g.append('rect');        
        var RestrictedArea = court_g.append('path');        
        var TopFreeThrow = court_g.append('path');        
        var BottomFreeThrow = court_g.append('path');        
        var ThreeLine = court_g.append('path');        
        var CenterOuter = court_g.append('path');
        var CenterInner = court_g.append('path');
        var Basket1 = court_g.append('circle');
        var Backboard1 = court_g.append('rect');
        var Outterbox1 = court_g.append('rect');
        var Innerbox1 = court_g.append('rect');
        var CornerThreeLeft1 = court_g.append('rect');
        var CornerThreeRight1 = court_g.append('rect');
        var OuterLine1 = court_g.append('rect');
        var RestrictedArea1 = court_g.append('path');
        var TopFreeThrow1 = court_g.append('path');
        var BottomFreeThrow1 = court_g.append('path');
        var ThreeLine1 = court_g.append('path');
        var CenterOuter1 = court_g.append('path');
        var CenterInner1 = court_g.append('path');

        draw_court();
        Heat_Map();
        // add_shot();
        // Slider();
        // window.addEventListener('resize', draw_court);
        // window.addEventListener('resize', Slider);
    </script>


    <!-- jQuery -->
    <script src="{{ url_for('static', filename = 'jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>

    <!-- Resize the basketball canvas when the browser is resized -->
    <script>
        $(window).resize(function () {
            $('#defaultCanvas0').width($('#sketch-holder').width())
            $('#defaultCanvas0').height($('#sketch-holder').width() / 16 * 9)
        })

        $(window).on("load", function () {
            canvasWidth = $('#defaultCanvas0').width();
            canvasHeight = $('#defaultCanvas0').height();
        });

        function selectedPlayer() {
            particleTimeGraph.destroy();
            particleTimeGraph = new CanvasJS.Chart("particleTimeGraph", overlayTimeGraphs[document.getElementById("selectPlayer").selectedIndex]);
            particleTimeGraph.render()
        }
    </script>
</body>

</html>