<!-- ######################################### -->
<!DOCTYPE html>
<html lang="en">
<style>
    * {
            box-sizing: border-box;
        }
        
        input[type=text], select, textarea {
            width: 100%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            resize: vertical;
        }
        
        label {
            padding: 12px 12px 12px 0;
            display: inline-block;
        }
        
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            float: right;
        }
        
        input[type=submit]:hover {
            background-color: #45a049;
        }
        
        .container {
            border-radius: 5px;
            background-color: #f2f2f2;
            padding: 20px;
        }
        
        .col-25 {
            float: left;
            width: 25%;
            margin-top: 6px;
        }
        
        .col-75 {
            float: left;
            width: 75%;
            margin-top: 6px;
        }
        
        /* Clear floats after the columns */
        .row:after {
            content: "";
            display: table;
            clear: both;
        }
        
        /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
        @media screen and (max-width: 600px) {
            .col-25, .col-75, input[type=submit] {
                width: 100%;
                margin-top: 0;
            }
        }

        .modal-title {
            float: left;
            font-size: 1.25em
        }

        .close {
            font-size: 2em;
        }
        </style>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SPORTA - Sports Positioning on Real Time Analytics
    </title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename = 'bootstrap.min.css') }}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename = 'metisMenu.min.css') }}" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="{{ url_for('static', filename = 'dataTables.bootstrap.css') }}" rel="stylesheet">

    <!-- DataTables Responsive CSS -->
    <link href="{{ url_for('static', filename = 'dataTables.responsive.css') }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename = 'sb-admin-2.css') }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename = 'css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">SPORTA</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">

                        <li class="divider"></li>
                        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="/"><i class="fas fa-home fa-fw"></i> Home</span></a>
                        </li>
                        <li>
                            <a href="/create-match"><i class="fas fa-plus fa-fw"></i> Create Match</a>
                        </li>
                        <li>
                            <a href="/students"><i class="fas fa-user fa-fw"></i> Students</a>
                        </li>
                        <li>
                            <a href="/teams"><i class="fas fa-users fa-fw"></i> Teams</a>
                        </li>
                        <li>
                            <a href="/tag"><i class="fa fa-edit fa-fw"></i> Tag</a>
                        </li>
                        <!-- /.nav-second-level -->
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->
    </div>

    <div id="page-wrapper" style="min-height: 908px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Students</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        {% if studentStatusType == 0 %}
        <div class="row alert alert-success">
            <p>{{studentStatusMessage}}</p>
        </div>
        {% elif studentStatusType == 1 %}
        <div class="row alert alert-danger">
            <p>{{studentStatusMessage}}</p>
        </div>
        {% endif %}
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Upload student list
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6">
                            <form action="/createStudent/uploadStuds" method="POST" enctype="multipart/form-data">
                                <label for="studList">Upload only CSV files</label>
                                <input type="file" id="studList" name="studList" accept=".csv">
                                <br>
                                <input type="submit" value="Upload List" class="btn btn-primary btn-large btn-block"
                                    style="width: 171px;">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Create new student
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <form action="/createStudent" method="POST">
                                    Student Name:<br>
                                    <input type="text" value="" name="studentName" required><br>
                                    <br>
                                    Gender:<br>
                                    <table>
                                        <tr>
                                            <td style="padding: 0px 10px 0px 0px;"><input type="radio" name="studentGender"
                                                    value="M" checked> Male</td>
                                            <td><input type="radio" name="studentGender" value="F"> Female<br></td>
                                        </tr>
                                    </table>
                                    <br>
                                    Assign to team:<br>
                                    <select name="teamId" style="width: 155px;">
                                        {% for i in teamIdResult %}
                                        <option value="{{i[0]}}">{{i[0]}}</option>
                                        {% endfor %}
                                    </select>
                                    <br>
                                    <br>
                                    <input type="submit" value="Create Student" class="btn btn-primary btn-large btn-block"
                                        style="width: 171px;">
                                </form>
                            </div>
                            <!-- /.col-lg-6 (nested) -->
                        </div>
                        <!-- /.row (nested) -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header">List of Students</h2>
            </div>
            <div class="panel-body">
                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
                                id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" aria-sort="ascending" style="width: 284px;">Student ID</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" style="width: 340px;">Student Name</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" style="width: 313px;">Gender</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" style="width: 249px;">In Teams</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables-example" rowspan="1"
                                            colspan="1" style="width: 190px;">Options</th>
                                    </tr>
                                    <!-- <th>Match ID</th>
                                        <th>Match Name</th>
                                        <th>Match Date</th>
                                        <th>Recorded By</th>
                                        <th>Match Notes</th> -->
                                </thead>
                                <tbody>
                                    {% for item in rows %}
                                    <tr>
                                        <td>{{item[0]}}</td>
                                        <td>{{item[1]}}</td>
                                        <td>{{item[2]}}</td>
                                        <td>{{item[3]}}</td>
                                        <td><a class="btn btn-primary" data-toggle="modal" data-target="#editUserDialogBox"
                                                data-id="{{item[0]}}" data-student="{{item[1]}}" data-gender="{{item[2]}}"
                                                style="margin: 0px 10px 0px 0px;">Edit</a><a class="btn btn-danger"
                                                data-toggle="modal" data-target="#deleteUserDialogBox" data-student="{{item[1]}}">Delete</a></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="dataTables_paginate paging_simple_numbers" id="dataTables-example_paginate"></div>
                    </div>
                </div>
            </div>
            <!-- /.table-responsive -->
        </div>
    </div>
    <!-- /#wrapper -->

    <!-- Ask user for confirmation before deleting user -->
    <div class="modal fade" id="deleteUserDialogBox" tabindex="-1" role="dialog" aria-labelledby="deleteUserDialogBoxLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserDialogBoxLabel">(deleteStudent)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">(deleteStudentConfirm)</div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="deleteStudent">Delete</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit student -->
    <div class="modal fade" id="editUserDialogBox" tabindex="-1" role="dialog" aria-labelledby="editUserDialogBoxLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editUserDialogBoxLabel">(editStudent)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form id="editStudentForm" method="POST">
                    <div class="modal-body">
                        Student Name:<br>
                        <input type="text" value="" name="editStudentName" required><br>
                        <br>
                        Gender:<br>
                        <table>
                            <tr>
                                <td style="padding: 0px 10px 0px 0px;"><input type="radio" name="editStudentGender"
                                        value="M"> Male</td>
                                <td><input type="radio" name="editStudentGender" value="F"> Female<br></td>
                            </tr>
                        </table>
                        <br>
                        <table width="100%" class="table table-striped table-bordered table-hover dataTable no-footer dtr-inline"
                            id="dataTables-example" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                            <thead>
                                <tr role="row">
                                    <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1"
                                        aria-sort="ascending">Teams that the student is in</th>
                                    <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1">Remove from team</th>
                                </tr>
                            </thead>
                            <tbody id="teamTable">
                            </tbody>
                        </table>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Save</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
    </div>

    <!-- jQuery -->
    <script src="{{ url_for('static', filename = 'jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename = 'bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename = 'metisMenu.min.js') }}"></script>

    <!-- DataTables JavaScript -->
    <script src="{{ url_for('static', filename = 'jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'dataTables.bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename = 'dataTables.responsive.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename = 'sb-admin-2.js') }}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
        $(document).ready(function () {
            $('#dataTables-example').DataTable({
                responsive: true
            });
        });

        $('#deleteUserDialogBox').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var modal = $(this)
            modal.find('.modal-title').text('Delete ' + button.data('student')) //(deleteStudent)
            modal.find('.modal-body').text('Are you sure you want to delete ' + button.data('student') + '?') //(deleteStudentConfirm)
            $('#deleteStudent').click(function () {
                window.location = '/deleteStudent/' + button.data('student');
            });
        })

        $('#editUserDialogBox').on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget) // Button that triggered the modal
            var modal = $(this)
            document.getElementById('editStudentForm').action = '/editStudent/' + button.data('id') + '/' + button.data('student') + '/' + button.data('gender')
            modal.find('.modal-title').text('Edit ' + button.data('student'))
            $('[name=editStudentName]').val(button.data('student'));
            if (button.data('gender') == 'M')
                $('input[name=editStudentGender]')[0].checked = true;
            else if (button.data('gender') == 'F')
                $('input[name=editStudentGender]')[1].checked = true;

            var inTeams = {{ inTeams| tojson | safe
        }};
        t = inTeams[button.data('student')];
        teamTable = document.getElementById('teamTable');
        teamTable.innerHTML = ""
        for (i = 0; i < t.length; i++) {
            row = teamTable.insertRow(i)
            cell0 = row.insertCell(0)
            cell1 = row.insertCell(1)
            cell0.innerHTML = t[i]
            cell1.innerHTML = '<input class="deleteTeam" type="checkbox" name="' + t[i] + '">'
        }

        if (t.length == 1)
            $('.deleteTeam').prop('disabled', true);
        })
    </script>

</body>

</html>