<html>
  <head>
      <style>
          .button {
              background-color: #3498DB;
              border: none;
              color: white;
              padding: 15px 32px;
              text-align: center;
              text-decoration: none;
              display: inline-block;
              font-size: 16px;
              margin: 4px 2px;
              cursor: pointer;
          }
          </style>
     <table>
            {% for item in rows %}
            <tr>
                <td>{{item[0]}}</td>
                <td>{{item[1]}}</td>
                <td>{{item[2]}}</td>
                <td>{{item[3]}}</td>
                <td>{{item[4]}}</td>
               
            </tr>
            {% endfor %}
     </table>
     

  <body>
      <br>
      <a href="/" class="button">Back to Home</a> 

  </body>
</html>
